<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   <description>foshanshop ejb3.0 Sample</description>
   
  <ejb-local-ref>
    <ejb-ref-name>ejb/HelloWorldLocal</ejb-ref-name>
    <ejb-ref-type>Session</ejb-ref-type>
    <local>com.foshanshop.ejb3.HelloWorldLocal</local>
	<!-- 如果一个EAR文件中存在多个EJB jar,而这些jar分别含有相同名称的EJB时，
    	应在EJB名称前加上jar文件名和#号，如：HelloWorld.jar#HelloWorldBean -->
    <ejb-link>HelloWorldBean</ejb-link>
  </ejb-local-ref>
  
  <welcome-file-list>
      <welcome-file>Test.jsp</welcome-file>      
  </welcome-file-list> 
</web-app>
